
@define-color accent #d8ae47;

* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: monospace, FontAwesome;
	font-size: 14px;
	font-weight: bold;
}

window#waybar {
	background: none;
    /*background-color: rgba(43, 48, 59, 0.5);
    border-image-source: linear-gradient(to right, #33ccff, #00ff99);
    border-image-slice: 1;
    border-bottom: 2px solid;*/
    color: white; 
    /*transition-property: background-color;
    transition-duration: .5s;*/
}

button {
    border: none;
    border-radius: 0;
}

button:hover {
	background: none;
}

/* Workspaces */
#workspaces {
	border-image-slice: 1;
	border-style: solid;
	border-width: 2px;
	border-color: @accent;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);  
}

#workspaces button {
	color: white;
	padding: 3px 7px 0px;
    background-color: transparent;
    border-right: 2px solid @accent;
    margin: 0px 0;
}

#workspaces button:last-child {
	border-right: none;
}

#workspaces button.active {
	color: @accent;
	font-weight: bold;
}

#window {
	border: solid 2px @accent;	
/*	border-image: linear-gradient(to right, #33ccff, #00ff99);*/
	border-radius: 5px;
    padding: 3px 7px 0;
	background-color: rgba(0,0,0,0.5);  
}


@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}



/* Configuration generale */
#clock, #tray, #power-profiles-daemon, #cpu, #memory, #temperature, #pulseaudio, #idle_inhibitor, #custom-power {
	border: solid 2px @accent;
	padding: 0 5px; 
	background-color: rgba(0,0,0,0.5);  
}

#clock, #workspaces {
	margin-left: 5px;
}

#tray, #temperature, #pulseaudio,  #custom-power {
	margin-right: 5px;
}

#clock, #tray, #pulseaudio {
	border-radius: 5px;
}

#clock, #cpu, #memory, #temperature, #pulseaudio, #custom-power {
	padding-top: 3px;
}

/* Tray */
#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}

/* Block Power / CPU / Memory / Temp */
#power-profiles-daemon {
	min-width: 18px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right: 0px;
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}

#power-profiles-daemon.balanced {
    color: @accent;
}

#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

#cpu {
	border-right: 0px;
	border-left: 0px;
}

#memory {
	border-right: 0px;
	border-left: 0px;
}

#temperature {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 0px;
}

#temperature.critical {
    color: #eb4d4b;
}

/* Audio */
#pulseaudio.muted {
    color: #2a5c45;
}

/* Bouton d'action */
#idle_inhibitor {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	border-right: 0px;
}

#idle_inhibitor.activated {
    color: @accent;
}

#custom-power {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	border-left: 0px;
}




label:focus {
    background-color: #000000;
}


#network { }
#network.disconnected { }






